.burger-menu {
    position: fixed;
    @include centerDiv();
    height: 100vh;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: $body-background;
    transition: all .3s ease;
    transform: translateY(-100vh);
    z-index: 5;

    & .nav-container {
        display: flex;

        & .menu {
            display: flex;
            flex-direction: column;

            & a {
                text-align: center;
                font-size: 35px;
                margin: 10px;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;
            }

            & span {
                font-size: 22px;
                margin-bottom: 3px;
            }
        }
    }
}
.burger-menu.active {
    transform: translateY(0);
}