main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.large-picture {
    @include centerDiv();
    @include selectUser();
    width: 100%;
    padding-bottom: 5%;

    & img {
        width: 100%;
        transition: .4s ease;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
        }
    }
}