/*
** BASE
*/
/*
** VARIABLES
*/
/*
** MIXINS
*/
/*
** BASE
*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "custom-regular";
  color: #532f25;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #d3b001;
}

body {
  background-color: #F6F1EB;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "custom-regular";
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*
** FONT
*/
@font-face {
  font-family: "custom-regular";
  src: url("/assets/fonts/TenorSans-Regular.ttf");
}

/*
** COMPONENTS
*/
.burger-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #F6F1EB;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  z-index: 5;
}

.burger-menu .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu .nav-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-menu .nav-container .menu a {
  text-align: center;
  font-size: 35px;
  margin: 10px;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.burger-menu .nav-container .menu span {
  font-size: 22px;
  margin-bottom: 3px;
}

.burger-menu.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

header .top {
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 50px 0;
  background-color: #F6F1EB;
}

header .top .menu-scrolling {
  display: none;
}

header .top .menu-scrolling .burger {
  margin-bottom: 15px;
  cursor: pointer;
}

header .top .menu-scrolling .burger:hover {
  color: #d3b001;
}

header .top .menu-scrolling.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .top a {
  padding-top: 10px;
  height: 50px;
}

header .top span {
  margin-left: auto;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
}

header .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 10% 8%;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

header .bottom .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .bottom .nav-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .bottom .nav-container .menu a {
  margin: 6px;
  font-size: 16px;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  font-weight: 900;
}

header .bottom .nav-container .menu span {
  font-size: 13px;
}

header .bottom .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

header .bottom .title-container h1 {
  font-weight: inherit;
  text-align: center;
  font-size: clamp(40px, 7vw, 50px);
  margin-right: 50px;
  margin-bottom: -20px;
}

header .bottom .title-container h1 span {
  margin-right: 100px;
}

header .bottom .about-container {
  width: 100%;
  height: 100%;
}

header .bottom .about-container p {
  width: 75%;
  font-size: 16px;
  line-height: 1.3;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.large-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  width: 100%;
  padding-bottom: 5%;
}

.large-picture img {
  width: 100%;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.large-picture img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 10%;
}

.products h3 {
  text-align: center;
  width: 60%;
  margin-bottom: 7%;
  font-size: 18px;
  font-weight: inherit;
}

.products h3 span {
  color: #934d39;
  font-weight: 900;
}

.products .desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.products .desc-container p {
  width: 60%;
  font-size: 16px;
}

.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

.products .product img {
  margin-right: auto;
  height: 350px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.products .product img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.products .second img {
  margin-right: 0;
  margin-left: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.products .second .desc-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.prestation {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.prestation .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.prestation .title .images-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prestation .title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prestation .title img {
  height: 50px;
  margin-left: 20px;
}

.prestation .title h3 {
  font-size: clamp(30px, 7vw, 40px);
  font-weight: inherit;
}

.prestation .title:nth-child(5) img {
  height: 35px;
}

.prestation .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 40px 0 100px;
}

.prestation .tab .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1.5px solid #d3b001;
  padding: 30px 15px;
  font-size: 18px;
}

.prestation .tab .row:last-child {
  border-bottom: 1.5px solid #d3b001;
}

.prestation .tab .row .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 900;
  width: 75%;
  min-width: 300px;
}

.prestation .tab .row .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  width: 100%;
}

.prestation .tab .row .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 900;
  width: 30%;
}

.about {
  padding-bottom: 15%;
  border-bottom: 0.5px solid #934d39;
}

.about .swiper {
  display: block;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  width: 500px;
  height: auto;
  margin-bottom: 50px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.about .swiper .swiper-wrapper {
  margin: auto;
}

.about .swiper .swiper-wrapper .swiper-slide {
  margin: auto;
}

.about .swiper .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.about .swiper:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.about p {
  text-align: center;
  margin: auto;
  margin-top: 3%;
  width: 70%;
  font-size: 16px;
  line-height: 1.5;
}

.about p span {
  font-weight: 900;
  color: #934d39;
  font-style: italic;
}

.contact {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 15%;
  padding-top: 15%;
}

.contact .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  margin-right: 10%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contact .link a {
  margin: 10px;
  text-align: center;
}

.contact .link .animated-button {
  display: inline-block;
  background-color: #532f25;
  border-radius: 5px;
  margin-top: 30px;
}

.contact .link .animated-button span {
  display: inline-block;
  color: #F6F1EB;
  background: #d3b001;
  border: 1px solid #532f25;
  padding: 9px 13px;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.contact .link .animated-button:hover span {
  -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
}

.contact img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 350px;
}

footer {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

footer .separator {
  width: 80%;
  height: .5px;
  margin: auto;
  background-color: #934d39;
}

footer .footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  padding: 40px 50px 20px;
}

footer .footer-group .logo-container {
  width: 50%;
  font-size: 16px;
}

footer .footer-group .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .footer-group .nav-container .menu {
  margin-left: auto;
}

footer .footer-group .nav-container .menu a {
  margin: 10px;
}

/*
** MEDIA QUERIES
*/
/*
** LAPTOP
*/
@media screen and (min-width: 1900px) {
  .about .swiper {
    width: 700px;
  }
}

@media screen and (max-width: 1300px) {
  .bottom {
    padding-top: 13% !important;
  }
  .about-container {
    width: 150% !important;
  }
  .about-container p {
    width: 100% !important;
  }
}

@media screen and (max-width: 1100px) {
  header .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-container {
    margin-top: 50px;
  }
  .title-container h1 {
    margin-left: 50px;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
  .about-container {
    margin-top: 50px;
    width: 70% !important;
  }
  .products .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20%;
  }
  .products .product img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    height: auto;
    width: 70%;
  }
  .products .second img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .products .second .desc-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
    margin-top: 5%;
    font-size: 16px;
  }
  .contact img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*
** PAD
*/
@media screen and (max-width: 800px) {
  .burger-menu .nav-container .menu a {
    font-size: 25px;
  }
  .burger-menu .nav-container .menu span {
    font-size: 16px;
  }
  .nav-container {
    margin-top: 80px;
  }
  .about-container {
    margin-top: 50px;
    width: 80% !important;
  }
  .products {
    padding-top: 25%;
  }
  .products h3 {
    width: 100%;
    margin-bottom: 10%;
    font-size: 16px;
  }
  .products .product img {
    height: auto;
    width: 100%;
  }
  .products .product .desc-container p {
    width: 100%;
    font-size: 14px;
  }
  .prestation {
    padding-top: 20%;
  }
  .prestation .tab {
    margin-bottom: 80px;
  }
  .prestation .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prestation .title h3 {
    text-align: center;
  }
  .prestation .title img {
    margin-top: 10px;
  }
  .prestation .tab .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prestation .tab .row .name {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-width: none;
  }
  .prestation .tab .row .desc {
    width: 100%;
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prestation .tab .row .price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about {
    padding-bottom: 20%;
  }
  .about .swiper {
    width: 80vw;
  }
  .about p {
    width: 100%;
  }
  .contact {
    padding-bottom: 25%;
    padding-top: 25%;
  }
  .contact img {
    width: 100%;
    height: auto;
  }
  .footer-group {
    padding: 10% 50px !important;
  }
  .footer-group .nav-container {
    margin: 0;
  }
  .footer-group .nav-container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-group .nav-container .menu a {
    margin: 5px 0 !important;
  }
}

/*
** MOBILE
*/
@media screen and (max-width: 450px) {
  .burger-menu .nav-container .menu {
    margin-bottom: 80px;
  }
  header .top {
    padding: 20px 10% 0 !important;
  }
  .about-container {
    width: 100% !important;
  }
  .title-container h1 {
    margin-left: 22px;
  }
  .contact .link {
    font-size: 16px;
  }
}

/*
** < OR IPHONE 5
*/
@media screen and (max-width: 325px) {
  .burger-menu .nav-container .menu a {
    font-size: 20px;
  }
  .burger-menu .nav-container .menu span {
    font-size: 13px;
  }
  .bottom .nav-container a {
    font-size: 10px !important;
  }
  .bottom .nav-container a span {
    font-size: 10px !important;
  }
  header .top .mail {
    font-size: 12px;
  }
  header .top .burger {
    font-size: 12px;
  }
  header .top span {
    font-size: 14px;
  }
  .about-container p {
    font-size: 14px !important;
  }
  .title-container h1 {
    margin-left: 0px;
  }
  .title-container h1 span {
    margin-right: 0 !important;
  }
  .contact img {
    width: 100%;
    height: auto;
  }
  .footer-group .logo-container {
    font-size: 14px !important;
  }
  .footer-group .nav-container .menu a {
    margin: 5px 0 !important;
    font-size: 10px !important;
  }
  .footer-group .nav-container .menu a span {
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=styles.css.map */